.orange{
    color: orange;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration:none;
    background-image:linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;

}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
#img2{
    width: 54.5%;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.align{
    text-align: center;
}
.item{
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
footer{
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    height: 50%;
}
.imginside{
    display: inline-block;
	padding: 10px;
    
}
.line-block{
    
  }
}